body { font-size: 1.2vmax; margin: 0px auto; background-color: #f0f0f6; font-family: 'lato'; background-image: url('/imgs/grunge.png'); }
.bodyDiv { position: relative; top: 0px; bottom: 0px; left: 0px; right: 0px; width: 100%; height: 100vh; margin: 0px; padding: 0px; }
.header { position: fixed; top: 0px; left: 0px; right: 0px; bottom: 95%; padding: 0px; padding-left: 3%; border: 0px; border-bottom: 2px double black; background-color: #e0e0ef; background-image: url('/imgs/tile.png'); z-index: 1000; }
.hdrTopicBar { position: absolute; bottom: 0%; width: 80%; transform: translateY(50%); }
.hdrTopic { margin: 0px; margin-left: 1%; margin-right: 1%; padding: 0.36%; font-family: 'Acme'; color: lemonchiffon; transform: skew(-27deg,0deg); border: 1px solid black; border-radius: 9%; background-color: #698169; font-size: 1.8vmax; display: inline-block; background-image: url('/imgs/linen.png'); }
.hdrTopic:hover { cursor: pointer; transform: skew(-27deg,0deg) scale(1.2); }
.hdrTopic:active:hover { cursor: pointer; transform: skew(-27deg,0deg) scale(1.27); border-radius: 12%; background-color: #699369; }
.hdrSocialBar { position: absolute; top: 0px; bottom: 0px; right: 0px; width: 80%; }
.hdrSocial { float: right; margin: 0px; margin-left: 0.3%; margin-right: 0.3%;  height: 100%; padding-top: 0.5%;  }
.hdrSocial:hover { cursor: pointer; transform: rotate(3deg); }
.hdrSocial:active:hover { cursor: pointer; transform: rotate(-3deg); }  
.content { position: absolute; top: 6%; margin: 3%; }
.intro { border: 1px solid #c0c0c0; border-radius: 9px; padding: 0.63%; background-color: rgba(255, 255, 255, 0.45); box-shadow: 1px 1px #c0c0c0; }
.firstWord { font-size: 3.6vmax; font-family: 'Dancing Script'; }
.fotter { position: fixed; top: 97%; left: 0px; right: 0px; bottom: 0px; padding: 0.3%; border: 0px; border-top: 1px solid black; font-size: 0.81vmax; background-color: #e0e0ef; text-align: center; background-image: url('/imgs/tile.png'); z-index: 1000; }
.maxHImg { width: auto; max-height: 72%; }

