<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset="utf-8">
    <meta name="Description" content="Personal Blog of Dinesh Arun " />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap" rel="stylesheet">
    <script src="/scripts/vue.js"></script>
    <script src="/scripts/main.js"></script>
    <title> Art & Technology </title>
</head>
<body onload="onLoadFn()">
  <div class="bodyDiv" id="vueApp" v-cloak>
    <div class="header">
      <div class="hdrTopicBar"> 
        <span class="hdrTopic" @click="loadUrl('/')"> Home </span>
        <span class="hdrTopic" @click="loadUrl('/art/')"> Art </span>
        <span class="hdrTopic" @click="loadUrl('/tech/')"> Tech </span>
      </div>
      <div class="hdrSocialBar">
        <span class="hdrSocial"> <a target="_blank" href="https://www.facebook.com/dinesharunk"> <image class="maxHImg" src="/imgs/facebook.png" /> </a> </span>
        <span class="hdrSocial"> <a target="_blank" href="https://twitter.com/dinesharun"> <image class="maxHImg" src="/imgs/twitter.png" /> </a> </span>
        <span class="hdrSocial"> <a target="_blank" href="https://www.linkedin.com/in/dinesh-arun-8b590736/"> <image class="maxHImg" src="/imgs/linkedin.png" /> </a> </span>
      </div>
    </div>
    <div class="content">
      <div id="imgStage" class="imgStage">
        <span id="imgStageName" class="imgStageName"></span>
        <span id="imgStagePrev" class="imgStagePrev" onclick="showPrevImage()"> &lt; </span>
        <span id="imgStageNext" class="imgStageNext" onclick="showNextImage()"> &gt; </span>
        <span class="imgStageClose" onclick="hideImage()"> &nbsp;X&nbsp; </span>
        <img id="imgStageImg" class="imgStageImg" onclick="hideImage()" />
      </div>
      <div class="quote" v-html="randomQuote" v-show="lastErr <= 0"> </div>
      <div class="intro" v-show="currLevel == 0">
        <span class="firstWord">W</span>elcome to my corner of the web. <br /><br /> 
        &nbsp; &nbsp; &nbsp; &nbsp; A place dedicated for my pursuit of <span class="InTextLink" @click="loadUrl('art/photography/')"> recording </span> (through photography) or 
        <span class="InTextLink" @click="loadUrl('art/animation/')"> recreating </span> (through animation) the wonders of the natural world in both it's 
        <span class="InTextLink" @click="loadUrl('art/nature/')"> visual </span> form or <span class="InTextLink" @click="loadUrl('art/music/')"> audible </span> form. 
        As an avid student of <span class="InTextLink" @click="loadUrl('tech/electronics/')"> electronics </span> and <span class="InTextLink" @click="loadUrl('tech/coding/')">
        programming </span>, I am always inspired by technology that creates art. Along the lines of the famous quote <span style="color: #cc9999; font-style: italic;">
        "Technology Inspires Art, Art Challenges Technology" </span>, my life follows both.
        As a programmer by profession and with a passion for technology, a fascination for nature & history, and an artist by soul,
        I try to find a point where technology and art collide.
      </div>
      <div class="homeGallery" v-show="currLevel == 0">
        <img class="ImgThumbLink homGalImg"  v-show="currLevel == 0" v-for="(img, index) in galImgList" :id="'randImg' + index" :src="img" name="Random Image" @click="showImage('randImg' + index)" />
      </div>
      <div id="postWrapper">
        <div id="loader" class="loader" v-show="loading == true"> <br /> </div>
        <div id="list" class="listDiv" v-if="((listReq == true) && (lastErr == 0))">
          <div class="postLink" v-for="post in postList" @click="loadPost(post)">
            <img class="postLinkThumb" :src="getThumbUrl(post.tmbUrl)" />
            <div class="postLinkData">
              <div class="postLinkDate"> {{ getDateTimeStr(post.ts) }} </div>
              <div class="postLinkTitle"> {{ post.title }} </div>
              <div class="postLinkCats"> {{ post.cats }} </div>
            </div>
          </div>
          <div style="float: left;"> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> </div>
        </div>
        <div id="post" class="postDiv" v-if="((dataReq == true) && (lastErr == 0))">
          <div class="vertGradLine"> <br /> </div>
          <div class="postTitle">
            <div class="postThumbDiv">
              <img class="postThumb" :src="getThumbUrl(postData[0].tmbUrl)" />
            </div> &nbsp;
            {{ postData[0].title }} 
          </div>
          <div class="vertGradLine shortLine"> <br /> </div>
          <div class="postDate"> {{ getDateTimeStr(postData[0].ts) }} </div>
          <div class="postData"> <span class="firstWord">{{postData[0].data[0]}}</span> <span v-html="postData[0].data.substring(1)"></span> </div> <br />
          <div class="vertGradLine smallLine"> <br /> </div>
          <div class="postKeys"> keywords : {{ postData[0].keys }} </div>
          <div class="vertGradLine smallLine"> <br /> </div>
        </div>
        <div  id="error" class="errDiv" v-show="lastErr > 0"> {{ getErrStr() }} </div>
      </div>
    </div>
    <div class="fotter">
       | Copyright (C) Dinesh Arun. &nbsp; | &nbsp;  
       <span> Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from 
                            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
       | All the content presented here are my personal works if unless otherwise specified.
         If you find any of the content not presentable or offsensive or copyrighted,
         kindly report to me <a href="mailto:dnsh.arun@gmaiol.com">here</a>. Also your feedback and suggestions are welcome. 
       </span>
    </div>
   </div>
</body>
</html>
